body{
	background: url(Wallmax-4764.png);
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    
}
#container{
	width:40%;
	height:90%;
	position:relative;
	background-color: rgba(0,0,0,0.5);
	margin: 0 auto;
	border-radius: 5px;
}

#header{
	color: white ;
	padding:5px;
	text-align: center;
	font-family: Arial, sans-serif; 
}

#Tbody{
	padding: 15px;
}

#Tbody #tasks{
	padding:10px;
	width:65%;
	border-radius: 5px;
	box-sizing: border-box;

}

#listt{
	position:absolute;
	bottom: 50px;
	top:150px;
	left:0;
	right:0;
	overflow: scroll;
}

ul#MyTasks{
	padding: 0 25px;
}

li.listClass{
	list-style-type: none;
	font-family: kristen ITC;
	font-size: 1.2em;
	color:white;
	padding: 7px 0;
	transition: all 0.1s ease-in-out;
	    -webkit-transition:all 0.1s ease-in-out;
	        -moz-transition: all 0.1s ease-in-out;
}

li.listClass:hover{
	background-color:rgba(100,100,100,0.5);
}

li.listClass:hover .removeMe {
	visibility: visible;
	opacity: 1;
}

li.listClass:not(:last-child){
	border-bottom:1px solid white;

}

.removeMe{
	cursor:pointer;
    float: right;
	color: white;
	background: rgba(0,0,0,0);
	font-size: 16px;
	font-weight: bold;
	border: 1px solid white;
	border-radius: 50%;
	padding: 10px 5px;
	visibility: hidden;
	opacity: 0;
	line-height: 0;
	margin-right: 5px;
	transition: all 0.1s ease-in-out;
		-webkit-transition: all 0.1s ease-in-out;
			-moz-transition: all 0.1s ease-in-out;
}

.removeMe:hover{
	background-color: red;
}

#remAll{
	opacity: 0.7;
	color: black;
	background-color:red;
	border-radius:3px;
	border: 2px solid white;
	height:30px;
	font-size: 14px;
	cursor : pointer;	

}
#remAll:hover{
	color:white;
}

#addBtn:hover{
	color:white;
}

#addBtn{
	opacity: 0.7;
	color: black;
	background-color:green;
	border-radius:3px;
	border: 2px solid white;
	height:30px;
	font-size: 14px;	
	cursor: pointer;
}

p{
    opacity: 1.2;
	color:green;
	font-size: 25px;
}

input.taskCheckbox {
	position: relative;
	float: left;
	margin-right: 10px;
	-webkit-appearance: none;
	width: 15px;
	height: 15px;
	border: 1px solid white;
	border-radius: 5px;
	outline: none;
	margin-left: 5px;
	text-align: center;
	cursor: pointer;
	transition: all 0.1s ease-in-out;
		-webkit-transition: all 0.1s ease-in-out;
			-moz-transition: all 0.1s ease-in-out;
}

input.taskCheckbox:checked {
	background-color: #009925;
}

input.taskCheckbox:checked:after {
	color: white;
	content: "\2713";
	display: block;
	font-size: 12px;
	height: 12px;
	position: absolute;
	width: 12px;
	left: 0.5px;
	bottom: 2px;
}

input.taskCheckbox:checked + ul#MyTasks{
    font-style :italic;
    color: grey;
}

.removeMe{
    visibility: hidden;
}

li.listClass:hover .removeMe {
	visibility: visible;
	opacity: 1;
}
















