body{
	background: url("pic2.jpg");
}
#container{
	width:40%;
	height:500px;
	position:relative;
	background-color:rgba(0,0,0,0.5);
	margin: 0 auto;
	border-radius: 5px;
}

#header{
	color: white ;
	padding:5px;
	text-align: center;
	font-family: Arial, sans-serif; 
}

#Tbody{
	padding: 15px;
}

#Tbody #tasks{
	padding:10px;
	width:65%;
	border-radius: 5px;
	box-sizing: border-box;

}

#listt{
	position:absolute;
	bottom: 50px;
	top:210px;
	left:0;
	right:0;
	overflow: scroll;
}

ul#MyTasks{
	padding: 0 25px;
}

li.listClass{
	list-style-type: none;
	font-family: courier;
	font-size: 1.2em;
	color:white;
	padding: 7px 0;
	transition: all 0.1s ease-in-out;
	-webkit-transition:all 0.1s ease-in-out;
	-moz-transition: all 0.1s ease-in-out;
}

li.listClass:hover{
	background-color:rgba(100,100,100,0.5);
}

li.listClass:not(:last-child){
	border-bottom:1px solid white;

}

.removeMe{
	background-color:#42cb29;
	cursor:pointer;
}

.removeMe:hover{
	color:red;
}

#remAll{
	opacity: 0.7;
	color: black;
	background-color:red;
	border-radius:3px;
	border: 2px solid white;
	height:30px;
	font-size: 14px;
	cursor : pointer;	

}
#remAll:hover{
	color:white;
}

#addBtn:hover{
	color:white;
}

#addBtn{
	opacity: 0.7;
	color: black;
	background-color:green;
	border-radius:3px;
	border: 2px solid white;
	height:30px;
	font-size: 14px;	
	cursor: pointer;
}

p{
	color:yellow;
	font-size: 25px;
}
